:root {
  --primary-color: #B9DBB7;
  --secondary-color: #E4E8D4;
  --accent-color: #73C787;
  --text-color: #00231B;
}
@font-face {
  font-family: fontBiggerDisplay;
  src: url('../resources/fonts/BiggerDisplay.otf');
}
@font-face {
  font-family: fontRobotoCondensed;
  src: url('../resources/fonts/RobotoCondensed-VariableFont_wght.ttf');
  font-weight: 300;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container {
    max-width: 900px;
    width: 90%;
    padding: 10px;
    margin: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--text-color);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
  }
  .container-section {
    max-width: 900px;
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--text-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .container-top {
    max-width: 900px;
    width: 90%;
    padding: 10px;
    margin: 10px;
  }
  /* 
  .container:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
  } */

  button{
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-family: fontBiggerDisplay;
  }

  h1 {
    color: var(--text-color);
    font-size: 128px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    margin: 0px;
    font-family: fontBiggerDisplay;
    text-align: justify;
  }

  h2 {
    color: var(--text-color);
    font-size: 75px;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
    font-family: fontBiggerDisplay;
    padding: 10px 10px 0px 10px;
  }
  h3 {
    color: var(--accent-color);
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: fontBiggerDisplay;
    margin: 10px 0px 10px 0px;
  }
  h4 {
    color: var(--text-color);
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    align-self: flex-start;
    font-family: fontRobotoCondensed;
    
  }